extends ./layouts/common

block content
	.container
		form.d-flex.align-items-center(action='/search', method='GET')
			input.me-2(type='text', placeholder='search', name='q', value= value)
			button.btn-sm(class='btn btn-info') Search
		.fs-3.mb-4 Danh sach truyen
		.card-group.row.mb-4
			each truyen in truyens
				.col-12.col-md-6.col-lg-3.mb-3
					.card.border-info.mx-1
						img.card-img-top(src= truyen.img, alt='...')
						.card-body
							.fs-4.card-title #{truyen.name}
							p.card-text tac gia: #{truyen.tacgia}
							p.card-text trang thai: #{truyen.trangthai}
						.card-footer
							a.btn.btn-primary(href='/truyen/view/' + truyen.id) View
		ul.pagination.d-flex.justify-content-end
			if page>1
				li.page-item
				a.page-link(href='/?page=' + (page - 1), aria-label='Previous')
					span(aria-hidden='true') &laquo;	
				- for(var x =page-1; x < page + 2; x++)
					li.page-item
						a.page-link(href='/?page=' + x, name='page') #{x}
				li.page-item
				a.page-link(href=href='/?page=' + (page + 1), aria-label='Next')
					span(aria-hidden='true') &raquo;
			else
				li.page-item
				a.page-link(href='/?page=' + page, aria-label='Previous')
					span(aria-hidden='true') &laquo;		
				- for(var x =page; x < page + 3; x++)
					li.page-item
						a.page-link(href='/?page=' + x, name='page') #{x}
				li.page-item
				a.page-link(href=href='/?page=' + (page + 1), aria-label='Next')
					span(aria-hidden='true') &raquo;
	
